/* src/App.css */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #e0e0e0; 
  padding: 20px;
}

.App-header {
  background-color: #cf2e2e; 
  padding: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  border-bottom: 2px solid #e1e1e1; 
  padding-bottom: 10px;
}